.status-bar {
    position: absolute;
    mask-repeat: no-repeat;
    mask-size: 100%;
    width: 100%;
}

.status-bar__inner {
    padding: 2px 15px;
    height: 100px;
}

.status-bar--health {
    mask-image: url('../../img/health.svg');
}

.status-bar--stamina {
    mask-image: url('../../img/stamina.svg');
}

.status-bar--health .status-bar__overlay {
    background-image: url('../../img/health-overlay.svg');
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}



