* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #666;
}

.app {
    display: grid;
    grid-template-columns: 6fr;
}

.app--open-left {
    grid-template-columns: 1fr 5fr;
}

.app--open-right {
    grid-template-columns: 5fr 1fr;
}

.app--open-left.app--open-right {
    grid-template-columns: 1fr 4fr 1fr;
}