.sidebar {
    background-color: #ccc;
    border-right: 2px solid #333;
    display: grid;
    padding-top: 100px;
    grid-template-rows: 1fr 70px 200px;
    height: 100vh;
}

.sidebar__block {
    padding: 15px;
}
